# Ignore build files and directories
cmake-build-debug/
build/
*.o
*.obj
*.exe

# Ignore CLion configuration files
.idea/

# Ignore ImGui configuration
imgui.ini

# Ignore executables and test apps
ESTPGeneticAlgorithmWOC
*.app/
clipboard
cursor
events
glfwinfo
iconify
monitors
msaa
offscreen
reopen
triangle-vulkan
